@model AciLabTestApp.Models.CompleteCourseViewModel

@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Course</h2>


@using (Html.BeginForm("CreateCourse", "Student", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StudentId, new { @readonly = "readonly" })
            </div>
        </div>
        

        <div class="form-group">
            <label class="control-label col-md-2">Select Course</label>
           
            <div class="col-md-10">
                @Html.DropDownList("CourseId", (MultiSelectList)ViewBag.CourseList, new { multiple = "multiple", size = "8" })
               <br/> <span style="color: red">(You can select Multiple Course. Press Ctrl + Click)</span>
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.Error == true)
                {
                    <div style="color: red;">Please Select Courses.</div>
                }
                else if (ViewBag.Message != "")
                {
                    @ViewBag.Message
                }
            </div>
        </div>
       
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Courses", new { id = Model.StudentId })
</div>
