@model IEnumerable<AciLabTestApp.Models.ResultViewModel>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results</h2>


<p>
    @Html.ActionLink("Create New", "CreateResult", new { id = ViewBag.Id })
</p>
<table class="table table-bordered table-responsive">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.SemesterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>

        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>


            <td>
                @Html.ActionLink("Edit", "EditResult", new { id = item.StudentId })
            </td>
        </tr>
    }

    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>

</table>

